/* CSS de la página de demo.html */

body {
    background-image: url(/assetsSuplente/fondofinal.avif); /* color de fondo de toda la página */ 
    background-size: cover;
    color:#1e7523; /* color de letra de toda la página */
}
h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: #FFFCF9;
    font-weight: 900; /* peso del contorno de la letra */
    color: #1e7523;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color:#1e7523;
    font-weight: 900;
    background-color: #FFFCF9;
}
p {
    font-size: 30px     ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#1e7523;
    text-align: center;
    background-color: #FFFCF9;
}

/* imagen */ 
picture {
    display: flex;
    justify-content: center;
}

picture img {
    width: 50%; /*  width: ancho / height: alto*/ 
}

/* lista y enlace */
#opciones {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    list-style:none;
}

#opciones li {
    display: inline-block;
    padding: 10px;
}

.boton {
    text-decoration: none; /* Eliminamos el subrayado del enlace */
    color: #AA0008;
    padding: 5px; /* margen interior */
    border-radius: 5px;
    display: inline-block;
}
.boton:hover { /* pseudoclase hover se activa cuando el mouse está por encima del elemento */
    border: 2px solid;
    background-color: #FFFCF9;
    color: #AA0008;
} 